@import './variables';

%container{
  @include flex(column, center, center);
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 85%;
  width: 90%;
  background: white ;
  overflow-y: auto;
  margin-right: -30px;
  border-radius: inherit;
}

.profile-view {
  @include flex(column, center, center);
  margin-top: 12vh;
  height: 90vh;
  width: 100vw;
  // overflow: auto;
}

.tab-container {
  @include flex(row, space-evenly, center);
  width: 100%;
  
  %tab-selector {
    background-color: $primary;
    color: black;
    border: none;
    border-radius: 8%;
    height: 30px;
    width: 80px;
  }
}

.profile-container {
  @include flex(column, center, center);
  position: relative;
  height: 78vh;
  max-height: 85vh;
  width: 90vw;
  background-color: white;
  box-sizing: border-box;
  // margin: auto;
  border-radius: inherit;
}

.audition-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 85%;
  width: 90%;
  background: white ;
  overflow-y: auto;
  margin-right: -30px;
  border-radius: inherit;
}

.theater-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 85%;
  width: 90%;
  background: white ;
  overflow-y: auto;
  margin-right: -30px;
  border-radius: inherit;
}

.user-info{
  @include flex(column, space-between, flex-start);
  position: relative;
  height: 85%;
  width: 90%;
  flex-wrap: wrap;
  box-sizing: border-box;

  .edit-info-button {
    height: 11.5%;
    width: 24%;
    background-color: rgb(149, 195, 230);
    border-radius: 10px;
  }

  .edit-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 25%;
    margin-left: 80px;
  }

  .cancel-edit-button{
    // margin-left: 90px;
    height: 40%;
    width: 100%;
    background-color: rgb(247, 133, 133);
    border-radius: 10px;
  }

  .save-changes{
    // margin-left: 90px;
    height: 40%;
    width: 100%;
    background-color: rgb(165, 228, 170);
    border-radius: 10px;
  }
  
  // .headshot-input{width: 229px;}
  // .first-name{width: 222px;}
  // .last-name{width: 223px;}
  // .resume{width: 222px;}
  // .vocal-range{width: 211px;}
  // .height{    width: 258px;}
  // .weight{    width: 257px;}
  // .eye-color{    width: 240px;}
  // .hair-color{    width: 238px;}
  // .ethnicities{    width: 236px;}
  // .age-range{    width: 230px;  }


  label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 50%;
    font-weight: 700;
    margin-right: 20px;
    
    input{
      display: flex;
      margin-left: 10px;
      // justify-content: stretch;
      height: 40px;
      width: 40vw;
    }
    
    p {
      font-weight: normal;
      margin-left: 15px;
    }
  }
  

}
    .headshot{
      height: 100px;
      width: 100px;
      margin-bottom: 20px;
    }