


%connect-button{
  @include flex(column, center, center);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(165, 228, 170);
  font-size: 35px;
}

%disconnect-button{
  @include flex(column, center, center);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(247, 133, 133);
  font-size: 35px;
}

.thumbnail{
  @include flex(row, space-between, center);
  background-color: transparent;
  height: 125px;
  width: 100%;
  border: black solid;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin: auto;
  border-radius: inherit;
  .connect-button{
    @extend %connect-button;
  }

  .disconnect-button{
    @extend %disconnect-button;
  }

  p {
    @include flex(row, center, center);
    width: 130px;
    flex-wrap: wrap;
    font-family: $font;
  }
}

.thumbnail:hover{
  cursor: pointer;
}

.yt-thumbnail{
  @include flex(row, space-between, center);
  height: 100px;
  width: 416px;
  border:black solid 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 2px, 0;
  border-radius: inherit;

  .disconnect-button {
    @extend %disconnect-button;
  }

  .connect-button {
    @extend %connect-button;
  }

  .video-title{
    font-weight: 500;
    width: 40%;
    max-width: 50%;
  }
  
}
    .yt-thumbnail:hover{
      cursor: pointer;
    }
