
// linear-gradient(rgb(149, 195, 230),rgb(118, 118, 118))

%connect-button{
  @include flex(column, center, center);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(165, 228, 170);
  font-size: 35px;
}

%disconnect-button{
  @include flex(column, center, center);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(247, 133, 133);
  font-size: 35px;
}

.thumbnail{
  @include flex(row, space-between, center);
  background: linear-gradient(rgb(162, 153, 241),rgb(149, 149, 149));
  height: 30%;
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 15px;
  border-radius: inherit;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .connect-button{
    @extend %connect-button;
  }

  .disconnect-button{
    @extend %disconnect-button;
  }

  p {
    @include flex(row, center, center);
    width: 20%;
    flex-wrap: wrap;
    font-family: $font;
    
    margin-right: 5px;
    border-right: black solid 1px;
    box-sizing: border-box;
  }
}

.thumbnail:hover{
  cursor: pointer;
}

.yt-thumbnail{
  @include flex(row, space-between, center);
  height: 100px;
  width: 100%;
  border:black solid 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 2px, 0;
  border-radius: inherit;

  .disconnect-button {
    @extend %disconnect-button;
  }

  .connect-button {
    @extend %connect-button;
  }

  .video-title{
    font-weight: 500;
    width: 40%;
    max-width: 50%;
  }
  
}
    .yt-thumbnail:hover{
      cursor: pointer;
    }
