@import './variables';
@import './profile.scss';
@import './thumbnails';

%tab-selector {
  background-color: black;
  color: white;
  border-radius: 5%;
}


*{
  font-family: $font;
}


.App{
  @include flex(row, center, center);
  // background-color: rgb(223, 221, 221);
  background: linear-gradient(to right, rgb(118, 118, 118),rgb(149, 195, 230),rgb(255, 255, 255));
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-container{
  @include flex(row, space-around, center);
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  // margin-bottom: 50px;
  background-color:transparent;
  font-family: $font;
  color: black;
  
  .profile-header {
    height: 50%;
    width: auto;
    color: black;
  }

  .nav-link{
    font-weight: 700;
    font-size: 20px;
    color: inherit;
    
    p {
      color: inherit;
    }
  }

  .profile-header{
    @include flex(row, space-between, center);
    width: 150px;
    font-weight: 700;
    font-size: 20px;
  }
}


.nav-container:hover{
border-bottom: black solid 2px;
// background-color: transparent;
}

.login-button {
  background-color: black;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 5%;
}

.logout-button {
  background-color: black;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 5%;
}

.auth-view{
  @include flex(column, space-between, center);
  height: 400px;
  width: 500px;
  margin-top: 50px;
  background-color:white;
  border: black;
  border-radius: 10%;
  -webkit-box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);
box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);
}
.auth-logos{
  @include flex(column, space-around, center);

  h1 {
    img{
      height:100px;
      width: 100px;
    }
  }

  h2{
    font-family: $font;
    font-weight: 700;
    font-size: 40px;
  }
}

.auth-container{
  @include flex(column, space-evenly, center);
  height: 90%;
  width: 90%;
  border: black;
  margin: 20px;
}

.input-boxes {
  @include flex(column, space-evenly, flex-end);
  height: 20%;
  width: 45%;
  margin-bottom: 20px;

  span{
    display: flex;
    justify-content: stretch;
  }

  input{
    justify-content: stretch;
  }
}

.auth-button-container {
  @include flex(row, space-between, center);
  width: 70%;
  height: 10%;

  button {
    background-color: black;
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 5%;
  }
}

.tab-container{
  // margin-top: 12vh;

  button {
    @extend %tab-selector;
  }
}


.resource-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;
  width: 90vw;
  background-color: white;
  box-sizing: border-box;
  -webkit-box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);
  box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);
  border-radius: 10px;
  min-height: 80vh;
  overflow: hidden;
}

.video-player{
  position: relative;
  right: 20vw;
}

.rb-view{
  // @include flex(column, center, center);
  
  margin-top: 12vh;
  height: 90vh;
  box-sizing: border-box;
  // min-height: 88vh;
  width: 90%;
}

.resource-left-side{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
}

.video-thumbnail-container{
  // @include flex(column, center, center);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: linear-gradient(rgb(149, 195, 230),rgb(118, 118, 118)) ;
  right: 7vw;
  height: 70vh;
  width: 37%;
  overflow: auto;

}

.register-actor-view{
  @include flex(column, space-between, center);
  height: 400px;
  width: 500px;
  margin-top: 50px;
  background-color:white;
  border: black;
  border-radius: 10%;
  -webkit-box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);
box-shadow: 3px 15px 17px 2px rgba(0,0,0,0.75);

  .register-form-container{
    @include flex(column, space-between, center);
    height: 90%;
    width: 80%;

    input {
      width: 200px;
      display: flex;
      justify-content: stretch;
    }
  }

  .register-button-container{
    @include flex(row, space-between, center);
  width: 70%;
  height: 10%;

  button {
    background-color: black;
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 5%;
  }
  }

}
